[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
ipykernel = "*"
scipy = "*"
spleeter = "*"
spleeter-gpu = "*"
matplotlib = "*"
pulp = "*"
pandas = "*"
flake8 = "*"
autopep8 = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.8"
